.book--card__container {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    background-color: var(--cor-card);
    border-radius: 15px;
    transition: 200ms;
    padding: 1em;
}

.book--card__container:hover {
    box-shadow: -5px 5px var(--cor-hover-2);
}

.book--card__buttons {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 1em;
}

.book--card__container h2 {
    font-family: var(--fonte-geral);
    font-size: var(--tamanho-fonte-subtitulo);
}
.book--card__container p {
    font-family: var(--fonte-geral);
    color: var(--cor-fonte);
    font-size: var(--tamanho-fonte-texto);
    transition: 200ms;
    padding: 0.5em;
}
